.content {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

.content div {
    margin:0 0 20px 0;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    background: #fff;
}

.content .now {
    padding: 15px;
}

.content .now .title {
    padding: 0px 5px;
    margin: 0 0 15px 0;
    box-sizing: border-box;
}

.content .now .title h1 {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: rgb(240, 0, 0);
}

.content .now .servers {
    padding: 0;
    margin: 0;
    text-align: center;
}

.content .now .servers a{
    text-decoration: none;
}

.content .now .servers:after {
    content:""; display: block; clear: both;
}

.content .now .servers .server-width {
    display: inline-block;
    width: 49%;
    padding: 0;
    margin: 0;
}

.content .now .servers .server-width .server {
    display: inline-block;

    width: 100%;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    border-radius: 10px;
}

.content .now .servers .server-width .server .img {
    width: 100%;
    height: 100px;
    margin:0;
    border-radius: inherit;
    background: linear-gradient(to right bottom, #e1afcc, #7530e3);
}

.content .now .servers .server-width .server p {
    display: inline-block;
    width: 100%;  
    padding: 10px;
    box-sizing: border-box;

    font-family: 'Gugi', cursive;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.content .timeline {
    padding: 15px;
}

.content .timeline .title {
    padding: 0 5px;
    margin: 0 0 15px 0;
    box-sizing: border-box;
}

.content .timeline .title h1 {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

.content .timeline .history {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: rgb(212, 212, 212);
    border-radius: 10px;
}

.content .timeline .history::-webkit-scrollbar {
    display: none;
}

.content .timeline .history .story {
    display: inline-block;

    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 0;
}

.content .timeline .history .story a {
    text-decoration: none;
}

.content .timeline .history .story .img {
    height: 50px;
    margin:0;
    border-radius: 0;
    background: url(../images/servers/2048.png) no-repeat;
}

.content .timeline .history .story .text {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

.content .timeline .history .story .text h1 { 
    margin: 0 0 5px 0;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    font-size: 15px;
    font-weight: 700;
    color: #000;
}

.content .timeline .history .story .text p {
    font-family: 'Gugi', cursive;
    text-align: left;
    font-size: 10px;
    font-weight: 700;
    color: #000;
}

.content .timeline .history .win .text h1 {
    color: rgb(0, 255, 157);
}

.content .timeline .history .defeat .text h1 {
    color: rgb(255, 208, 0);
}

.content .timeline .history .tie .text h1 {
    color: rgb(255, 0, 0);
}

.content .dashboard {
    padding: 15px;
}

.content .dashboard .title {
    padding: 0px 5px;
    margin: 0 0 15px 0;
    box-sizing: border-box;
}

.content .dashboard .title h1 {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
    color: rgb(240, 0, 0);
}

.content .dashboard .information {
    padding: 0;
    margin: 0;
    text-align: center;
}
.content .dashboard .information:after {
    content:""; display: block; clear: both;
}

.content .dashboard .information .information-width {
    display: inline-block;
    width: 49%;
    padding: 0;
    margin: 0;

    vertical-align: top;
}

.content .dashboard .information .information-width .statistics {
    display: inline-block;
    width: 90px;
    margin:0 auto;
    box-sizing: border-box;
}

.content .dashboard .information .information-width .statistics .chart .height {
    display: inline-block;
    width: 100px;

    text-align: center;
}

.content .dashboard .information .information-width .statistics .chart {
    margin:0 auto;
    border-radius: inherit;
    background: blue;
}

.content .dashboard .information .information-width:nth-child(1) .statistics .chart {
    width: 100%;
}

.content .dashboard .information .information-width:nth-child(2) .statistics .chart {
    width: 20%;
}

.content .dashboard .information .information-width .statistics p {
    display: inline-block; 
    padding: 10px;
    box-sizing: border-box;

    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    vertical-align: top;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}